In [ ]:
# Libraries
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import plotly.subplots as sp
%matplotlib inline

In [ ]:
import getpass

# Add your password
password = getpass.getpass()

In [ ]:
# open the door between python and my databases ->  I specified Sakila
cnx = mysql.connector.connect(user='root', password=password, database='sql_project', port=3306)

In [ ]:
# Check if the connection was successful
cnx.is_connected()

In [ ]:
# We need to define the object we will use to interact with the database
cursor = cnx.cursor(buffered=True) # buffered is to avoid errors

In [ ]:
# Get all the records from sakila actor table
query = 'SELECT * FROM sql_project.comments'
cursor.execute(query)
results = cursor.fetchall()

In [ ]:
# Review the results
results

In [ ]:
# Convert results to dataframe
comments_trial = pd.DataFrame(results)
comments_trial

In [ ]:
# Extract directly into pandas
comments_trial = pd.read_sql_query(query, con=cnx)
comments_trial

In [ ]:
# Recreate a full name column
comments_trial_corr = comments_trial_corr(method='spearman')
comments_trial_corr.style_background_gradient(cmap='RdYlGn', format='{:, .2f}')

In [ ]:
'''maybe if we import comments.csv (with the text) and try to add the columns and values with python connectors?'''

# Add all the records from the actors dataframe
#for actor_id, actor_name in zip(actors_df['actor_id'], actors_df['full_name']):
    #query = f"INSERT INTO demo(student_id, student_name) VALUES ('{actor_id}', '{actor_name}')"
    #cursor.execute(query)

In [ ]:
# once you have connected to sql and done everything
# saving any changes you did on the database
cnx.commit()
# clear the cursor
cursor.close()

# closes the door between python and SQL
cnx.close()

In [ ]:
# Check if we still have the connection
cnx.is_connected()