# SQL Project
You were hired by Ironhack to perform an Analytics Consulting Project entitled: competitive landscape.

Your mission is to create and populate an appropriate database with many coding schools that are our competition, as well as design an suitable queries that answer business questions of interest (to be defined by you)

**Suggested Steps in the Project:**


*   Read this notebook and understand each function. Comment the code appropriately

*   Populate the list of schools with a wider variety of schools (how are you going to get the school ID?)

* Take a look at the obtained dataframes. What dimensions do you have? what keys do you have? how could the different dataframes be connected?

* Go back to the drawing board and try to create an entity relationship diagram for tables available

* Once you have the schemas you want, you will need to:
  - create the suitable SQL queries to create the tables and populate them
  - run these queries using the appropriate Python connectors
  
* Bonus: How will this datamodel be updated in the future? Please write auxiliary functions that test the database for data quality issues. For example: how could you make sure you only include the most recent comments when you re-run the script?


# Suggested Deliverables

* 5-6 minute presentation of data model created, decision process and business analysis proposed

* exported .sql file with the final schema

* Supporting python files used to generate all logic

* High level documentation explaining tables designed and focusing on update methods

Crucial hint: check out the following tutorial:
https://www.dataquest.io/blog/sql-insert-tutorial/

In [8]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from pandas import json_normalize
import re
import numpy as np
import time
import multiprocessing
import concurrent

In [9]:
school_list = ['Springboard',
             'Dataquest',
             'Syntax Technologies',
             'ironhack',
             'tripleten',
             'Colaberry',
             'Maven Analytics',
             'Udacity',
             'BrainStation',
             'CCS Learning Academy',
             'Thinkful',
             'General Assembly']

In [10]:
school_id_dict = {}

In [11]:
for school_name in school_list:
    url = f"https://www.switchup.org/bootcamps/{school_name.lower().replace(' ', '-')}"

    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36'}
    response = requests.get(url, headers=headers)

    if response.status_code == 200:
        soup = BeautifulSoup(response.text, 'html.parser')
        page_data_tag = soup.find('page-data')

        if page_data_tag:
            school_id = page_data_tag.get('school-id')
            if school_id:
                school_id_dict[school_name.lower().replace(' ','-')] = int(school_id)
                print(f"school ID for : {school_name}/{school_id}")
            else:
                print(f"School ID not found: {school_name}")
        else:
            print(f"Page data not found: {school_name}")

    else:
        print(f"Error: {response.status_code}")

print("School ID dictionary:", school_id_dict)

school ID for : Springboard/11035
school ID for : Dataquest/10683
school ID for : Syntax Technologies/11797
school ID for : ironhack/10828
school ID for : tripleten/11225
school ID for : Colaberry/11718
school ID for : Maven Analytics/11740
school ID for : Udacity/11118
school ID for : BrainStation/10571
school ID for : CCS Learning Academy/11736
school ID for : Thinkful/11098
school ID for : General Assembly/10761
School ID dictionary: {'springboard': 11035, 'dataquest': 10683, 'syntax-technologies': 11797, 'ironhack': 10828, 'tripleten': 11225, 'colaberry': 11718, 'maven-analytics': 11740, 'udacity': 11118, 'brainstation': 10571, 'ccs-learning-academy': 11736, 'thinkful': 11098, 'general-assembly': 10761}

In [12]:
school_id_dict

{'springboard': 11035,
 'dataquest': 10683,
 'syntax-technologies': 11797,
 'ironhack': 10828,
 'tripleten': 11225,
 'colaberry': 11718,
 'maven-analytics': 11740,
 'udacity': 11118,
 'brainstation': 10571,
 'ccs-learning-academy': 11736,
 'thinkful': 11098,
 'general-assembly': 10761}

In [13]:
def get_comments_school(school):
    TAG_RE = re.compile(r'<[^>]+>')
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])

    #aux function to apply regex and remove tags
    def remove_tags(x):
        return TAG_RE.sub('',x)
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

In [14]:
# could you write this as a list comprehension? ;)
comments = []

for school in school_id_dict.keys():
    print(school)
    comments.append(get_comments_school(school))
comments = pd.concat(comments)

springboard
dataquest
syntax-technologies
ironhack
tripleten
colaberry
maven-analytics
udacity
brainstation
ccs-learning-academy
thinkful
general-assembly

In [15]:
comments.columns

Index(['id', 'name', 'anonymous', 'hostProgramName', 'graduatingYear',
       'isAlumni', 'jobTitle', 'tagline', 'body', 'rawBody', 'createdAt',
       'queryDate', 'program', 'user', 'overallScore', 'comments', 'overall',
       'curriculum', 'jobSupport', 'review_body', 'school'],
      dtype='object')

In [16]:
comments.isna().sum()

id                    0
name                  0
anonymous             0
hostProgramName    4021
graduatingYear       57
isAlumni              1
jobTitle           2614
tagline               0
body                  0
rawBody               0
createdAt             0
queryDate             0
program             907
user                  0
overallScore          9
comments              0
overall               9
curriculum          176
jobSupport          791
review_body           0
school                0
dtype: int64

In [17]:
# transform years from float to integers
comments['graduatingYear'] = comments['graduatingYear'].astype('Int64')
comments.graduatingYear.value_counts()

2018    1466
2019    1106
2020    1009
2017     964
2021     768
2022     616
2016     421
2023     327
2015     183
2014      47
2012      13
2013      10
2011       1
Name: graduatingYear, dtype: Int64

In [18]:
comments.tagline.value_counts()

Great Experience                       30
Great experience                       23
Amazing experience                     23
Great experience!                      22
Amazing                                18
                                       ..
My best decision.                       1
A social and work oriented bootcamp     1
Very happy with my choice               1
Awsome                                  1
NULL                                    1
Name: tagline, Length: 6311, dtype: int64

In [19]:
# uniforming tag values in tagline
tagline_mapping = {
    'Great Experience': ['Great Experience', 'Great experience', 'Great experience!', 'Great Experience', 'Great'],
    'Amazing Experience': ['Amazing experience', 'Amazing']
}

comments['tagline'] = comments['tagline'].apply(lambda x: next((key for key, value in tagline_mapping.items() if x in value), x))

# check
print(comments['tagline'].value_counts())

Great Experience                         88
Amazing Experience                       54
Springboard Data Science Career Track    15
Excellent                                15
Life changing                            13
                                         ..
My best decision.                         1
A social and work oriented bootcamp       1
Very happy with my choice                 1
Awsome                                    1
NULL                                      1
Name: tagline, Length: 6306, dtype: int64

In [20]:
# columns body and rawBody contain uncleaned data and is replaceable by the cleaned review_body column. 
# queryData contains the same info as createdAt.
comments.drop(columns={'body', 'rawBody', 'queryDate'}, inplace=True)

In [21]:
# column user is empty while column comments is a list of each comments for every review. 
# We choose to not keep it as we already have thousands of single comments
comments.drop(columns={'user', 'comments'}, inplace=True)

In [22]:
comments['school_id'] = comments.school.map(school_id_dict)

In [23]:
comments

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,createdAt,program,overallScore,overall,curriculum,jobSupport,review_body,school,school_id
0,306549,Daniel Dluzynski,False,None,2023,False,,Extensive and well built curriculum,11/17/2023,Cyber Security Career Track,4.3,4.0,5.0,4.0,This course is great for beginners. The curric...,springboard,11035
1,306505,Jonathan Chiu,False,None,2023,False,,Join if you're looking to structure &amp; Netw...,11/15/2023,UI/UX Design Career Track,4.0,4.0,4.0,4.0,"If you find yourself unsure of where to begin,...",springboard,11035
2,306504,Anonymous,True,None,2023,False,,Join if you're looking to structure &amp; Netw...,11/15/2023,UI/UX Design Career Track,4.0,4.0,4.0,4.0,"If you find yourself unsure of where to begin,...",springboard,11035
3,306451,Anonymous,True,None,2023,True,UX/UI Design,Wonderful,11/14/2023,UI/UX Design Career Track,4.3,4.0,5.0,4.0,Pros: I found the Springboard bootcamp to be i...,springboard,11035
4,306317,Anonymous,True,None,2023,False,Tech Sales,My experience at Springboard,11/8/2023,Tech Sales Career Track,5.0,5.0,5.0,5.0,My experience at Springboard was great. Wonder...,springboard,11035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,231691,Abby Howell,False,None,2013,True,Software Developer at Cengage Learning,From 2nd grade teacher to full-stack web devel...,6/29/2014,Software Engineering Immersive,5.0,5.0,5.0,5.0,My experience at General Assembly's Web Develo...,general-assembly,10761
995,231827,Anonymous,False,None,<NA>,False,,What you get out of the program really depends...,6/15/2014,,3.0,3.0,NaN,NaN,What you get out of the program really depends...,general-assembly,10761
996,231816,Thomas Berry,False,None,<NA>,False,,The bitmaker program provides opportunities an...,6/15/2014,,5.0,5.0,NaN,NaN,Personally I had a great experience at Bitmake...,general-assembly,10761
997,231836,Ryan Racioppo,False,None,<NA>,False,,Bitmaker is the best way to motivate and accel...,6/15/2014,,5.0,5.0,NaN,NaN,I was in the 3rd cohort and have had a success...,general-assembly,10761
998,231574,Vivien S.,False,Web Development,<NA>,None,None,NULL,12/19/2013,None,4.0,4.0,NaN,NaN,I'm surprised by the reviews below. My experie...,general-assembly,10761

In [25]:
from pandas import json_normalize

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()
    print(data)

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])

    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school


    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in school_id_dict.items():
    print(school)
    a,b,c,d = get_school_info(school,id)

    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

springboard
{'mainTemplate': '<div class="bootcamp-description">[[description]]</div><css-template id="bootcamp-data-description" default="bootcamp-data/description"></css-template>', 'htmlTemplates': {}, 'cssTemplates': {'bootcamp-data/description': '.bootcamp-description{line-height:1.5}'}, 'templatesWereCached': False, 'content': {'name': 'Springboard', 'keyword': 'springboard', 'webaddr': 'www.springboard.com/?utm_source=switchup&utm_medium=affiliates&utm_campaign=branded_link', 'description': '<span class="truncatable"><p>Springboard is an online learning platform that prepares students for the tech industry’s most in-demand careers with comprehensive, mentor-led online programs in software engineering, data science, machine learning, UI/UX design, cybersecurity, and more.<span class="read-more-text">... <a class="read-more-button">Read More</a></span><span class="read-more" style="display:none;"> We act as a support system, coach, and cheerleader for working professionals who are ready to level-up or make a major career shift. </span></p><p>All Springboard courses are 100% online, remote, and self-paced throughout an average of six to nine months. </p><p>The Springboard experience gives our students access to a unique community of industry mentors, thought leaders, and alumni, who are on hand to offer insights, networking opportunities, and support throughout our programs and well past graduation. Every Springboard student is matched with a personal student advisor and industry mentor who guides them throughout the program through regular video calls.</p><p>Before graduation, Springboard’s career services team supports students in their job search, helping prepare them for interviews and networking, and facilitates their transition into the tech industry. Our tuition-back guarantee allowing students runway to secure the role of their dreams means students can take charge and invest in themselves.</p><p>Springboard’s support does not end when students graduate. All our graduates benefit from an extensive support network encompassing career services, 1:1 career coaching, networking tips, resume assistance, interview prep, and salary negotiation. </p><p>This approach has seen considerable success: since Springboard was founded in 2013, 94% of eligible graduates secured a job within one year, earning an average salary increase of $26,000.</p><p>Springboard is excited to offer SwitchUp an exclusive scholarship for $500 off tuition! Use promo code SWITCHUP500 when enrolling. *This offer is only valid for new applicants. Applicants who have already summited an application cannot claim this scholarship. This scholarship cannot be combined with other scholarships and/or offers. Qualifying Courses: Data Analytics Career Track, Data Science Career Track, Software Engineering Career Track, UI/UX Design Career Track, UX Career Track,</p><p>At Springboard, we equip our students with the skills they\'ll need to find their dream jobs in a tech-centric economy. To that end, we believe in providing transparency around our outcomes, so that students like you can make well-informed decisions. This report is intended to provide information regarding data on job placements and student demographics for all Springboard career tracks: https://ddf46429.springboard.com/uploads/resources/1644953246_Outcomes_2021_All_Career_Tracks.pdf.</p><span class=\'read-less-text\' style=\'display:none;\'><a class=\'read-less-button\'>Read Less</a></span></span>', 'logoUrl': 'https://d92mrp7hetgfk.cloudfront.net/images/sites/misc/springboard_3_30_2023/original.png?1680281932', 'meritBadges': [{'name': 'Available Online', 'keyword': 'available_online', 'description': '<p>School offers fully online courses</p>'}, {'name': 'Flexible Classes', 'keyword': 'flexible_classes', 'description': '<p>School offers part-time and evening classes</p>'}, {'name': 'Job Guarantee', 'keyword': 'job_guarantee', 'description': '<p>School guarantees job placement</p>'}], 'reviewMetric': {'overallRating': '4.68', 'reviewCount': 1559}, 'activeRankingYears': [2023, 2022, 2021], 'showBootcampLeadForm': True, 'clSubmitted': False, 'courses': ['Cyber Security Career Track', 'Data Analytics Career Track', 'Data Science Career Track', 'Data Science Career Track Prep', 'Front-End Web Development', 'Introduction to Data Analytics', 'Introduction to Design', 'Software Engineering Career Track', 'Software Engineering Career Track Prep Course', 'Software Engineering Foundations to Core', 'Tech Sales Career Track', 'UI/UX Design Career Track', 'UX Career Track'], 'priceMin': 349, 'priceMax': 9900, 'locations': [{'id': 16013, 'description': 'Online', 'state': {'id': 1, 'name': 'Online', 'abbrev': 'Online', 'keyword': 'online'}}]}, 'contentSecondsToLive': 0, 'wasCached': False, 'serverTime': 36.394315000000006}
dataquest
{'mainTemplate': '<div class="bootcamp-description">[[description]]</div><css-template id="bootcamp-data-description" default="bootcamp-data/description"></css-template>', 'htmlTemplates': {}, 'cssTemplates': {'bootcamp-data/description': '.bootcamp-description{line-height:1.5}'}, 'templatesWereCached': False, 'content': {'name': 'Dataquest', 'keyword': 'dataquest', 'webaddr': 'www.dataquest.io', 'description': '<span class="truncatable"><p>Master data skills. Build your career.<br>Dataquest teaches through challenging exercises and real-world projects instead of video lectures. It\'s the most effective way to learn the skills you need to build your career.</p><p>Why learn with us?<br>- Go from zero to<span class="read-more-text">... <a class="read-more-button">Read More</a></span><span class="read-more" style="display:none;"> job-ready: Learn exactly what you need to achieve your goal. Don’t waste time on unrelated lessons.<br>- Learn from experts: We work with top organizations and instructors around the world to develop our courses.<br>- Challenge yourself with exercises: Work with real data from day one with interactive lessons and hands-on exercises.<br>- Build your project portfolio: Build confidence with our in-depth projects, and show off your data skills.<br>- Showcase your path certification: Impress employers by completing a capstone project and certifying it with an expert review.</span></p><p>Our courses:<br>- Introductory courses: Explore new concepts and technologies with free introductory courses.<br>- Career paths: Dataquest’s career paths will teach you everything you need to start a new career in approximately nine months. Build your portfolio as you learn, and earn a path certification by completing a capstone project.<br>- Skill paths: Quickly add in-demand skills to your resume. Gain confidence by completing real-world exercises and projects as you learn.</p><p>Sign up for free, and start learning today!</p><span class=\'read-less-text\' style=\'display:none;\'><a class=\'read-less-button\'>Read Less</a></span></span>', 'logoUrl': 'https://d92mrp7hetgfk.cloudfront.net/images/sites/misc/Logo-Icon-128px/original.png?1560210004', 'meritBadges': [{'name': 'Available Online', 'keyword': 'available_online', 'description': '<p>School offers fully online courses</p>'}, {'name': 'Flexible Classes', 'keyword': 'flexible_classes', 'description': '<p>School offers part-time and evening classes</p>'}], 'reviewMetric': {'overallRating': '4.85', 'reviewCount': 303}, 'activeRankingYears': [2021], 'showBootcampLeadForm': False, 'clSubmitted': False, 'courses': ['Python for Data Analysis', 'R for Data Analysis'], 'priceMin': 29, 'priceMax': 29, 'locations': [{'id': 16378, 'description': 'Online', 'state': {'id': 1, 'name': 'Online', 'abbrev': 'Online', 'keyword': 'online'}}]}, 'contentSecondsToLive': 0, 'wasCached': False, 'serverTime': 32.507726}
syntax-technologies
{'mainTemplate': '<div class="bootcamp-description">[[description]]</div><css-template id="bootcamp-data-description" default="bootcamp-data/description"></css-template>', 'htmlTemplates': {}, 'cssTemplates': {'bootcamp-data/description': '.bootcamp-description{line-height:1.5}'}, 'templatesWereCached': False, 'content': {'name': 'Syntax Technologies', 'keyword': 'syntax-technologies', 'webaddr': 'www.syntaxtechs.com/', 'description': '<span class="truncatable"><p>Syntax Technologies is the world’s leading online training provider, established in Virginia in 2017. Syntax provides training and solutions for the IT industry. Through its school, Syntax offers in-demand training for people who want to delve into the<span class="read-more-text">... <a class="read-more-button">Read More</a></span><span class="read-more" style="display:none;"> IT industry with no IT experience and IT veterans who wish to add new skills with the latest technologies in the market.</span></p><span class=\'read-less-text\' style=\'display:none;\'><a class=\'read-less-button\'>Read Less</a></span></span>', 'logoUrl': 'https://d92mrp7hetgfk.cloudfront.net/images/sites/misc/Syntax_Technologies_resized/original.png?1665529537', 'meritBadges': [{'name': 'Available Online', 'keyword': 'available_online', 'description': '<p>School offers fully online courses</p>'}, {'name': 'Flexible Classes', 'keyword': 'flexible_classes', 'description': '<p>School offers part-time and evening classes</p>'}], 'reviewMetric': {'overallRating': '5.0', 'reviewCount': 103}, 'activeRankingYears': [], 'showBootcampLeadForm': False, 'clSubmitted': False, 'courses': ['Cyber Security Course', 'Data Analytics & Business Intelligence Course', 'SDET Automation Testing Course'], 'priceMin': None, 'priceMax': None, 'locations': [{'id': 18261, 'description': 'Online', 'state': {'id': 1, 'name': 'Online', 'abbrev': 'Online', 'keyword': 'online'}}]}, 'contentSecondsToLive': 0, 'wasCached': False, 'serverTime': 37.720258}
ironhack
{'mainTemplate': '<div class="bootcamp-description">[[description]]</div><css-template id="bootcamp-data-description" default="bootcamp-data/description"></css-template>', 'htmlTemplates': {}, 'cssTemplates': {'bootcamp-data/description': '.bootcamp-description{line-height:1.5}'}, 'templatesWereCached': False, 'content': {'name': 'Ironhack', 'keyword': 'ironhack', 'webaddr': 'www.ironhack.com/en', 'description': '<span class="truncatable"><p>Ironhack is a global tech school with 9 campuses worldwide, located in Miami, Madrid, Barcelona, Paris, Berlin, Amsterdam, Mexico City, Lisbon and São Paulo. Ironhack offers bootcamps and part-time courses in Web Development, UX/UI Design, Data Analytics<span class="read-more-text">... <a class="read-more-button">Read More</a></span><span class="read-more" style="display:none;"> and Cyber Security, which are taught both remotely and in-person.</span></p><p>With more than 6.000 graduates working at companies like Google, Visa, Twitter, Rocket Internet and Orange, among others, Ironhack has an extensive global network of +600 partner companies. Post graduation, all students have access to career services, which prepare graduates for their job searches and facilitate interviews in their city\'s local tech ecosystem.</p><span class=\'read-less-text\' style=\'display:none;\'><a class=\'read-less-button\'>Read Less</a></span></span>', 'logoUrl': 'https://d92mrp7hetgfk.cloudfront.net/images/sites/misc/ironhack/original.jpg?1568082165', 'meritBadges': [{'name': 'Available Online', 'keyword': 'available_online', 'description': '<p>School offers fully online courses</p>'}, {'name': 'Verified Outcomes', 'keyword': 'verified_outcomes', 'description': '<p>School publishes a third-party verified outcomes report</p>'}, {'name': 'Flexible Classes', 'keyword': 'flexible_classes', 'description': '<p>School offers part-time and evening classes</p>'}], 'reviewMetric': {'overallRating': '4.8', 'reviewCount': 1285}, 'activeRankingYears': [2023, 2021, 2020], 'showBootcampLeadForm': False, 'clSubmitted': False, 'courses': ['Cyber Security Bootcamp', 'Cybersecurity Part-Time', 'Data Analytics Bootcamp', 'Data Analytics Part-Time', 'UX/UI Design Bootcamp', 'UX/UI Design Part-Time', 'Web Development Bootcamp', 'Web Development Part-Time'], 'priceMin': 7500, 'priceMax': 13000, 'locations': [{'id': 15901, 'description': 'Berlin, Germany', 'country': {'id': 57, 'name': 'Germany', 'abbrev': 'DE'}, 'city': {'id': 31156, 'name': 'Berlin', 'keyword': 'berlin'}}, {'id': 16022, 'description': 'Mexico City, Mexico', 'country': {'id': 29, 'name': 'Mexico', 'abbrev': 'MX'}, 'city': {'id': 31175, 'name': 'Mexico City', 'keyword': 'mexico-city'}}, {'id': 16086, 'description': 'Amsterdam, Netherlands', 'country': {'id': 59, 'name': 'Netherlands', 'abbrev': 'NL'}, 'city': {'id': 31168, 'name': 'Amsterdam', 'keyword': 'amsterdam'}}, {'id': 16088, 'description': 'Sao Paulo, Brazil', 'country': {'id': 42, 'name': 'Brazil', 'abbrev': 'BR'}, 'city': {'id': 31121, 'name': 'Sao Paulo', 'keyword': 'sao-paulo'}}, {'id': 16109, 'description': 'Paris, France', 'country': {'id': 38, 'name': 'France', 'abbrev': 'FR'}, 'city': {'id': 31136, 'name': 'Paris', 'keyword': 'paris'}}, {'id': 16375, 'description': 'Miami, FL, United States', 'country': {'id': 1, 'name': 'United States', 'abbrev': 'US'}, 'state': {'id': 11, 'name': 'Florida', 'abbrev': 'FL', 'keyword': 'florida'}, 'city': {'id': 31, 'name': 'Miami', 'keyword': 'miami'}}, {'id': 16376, 'description': 'Madrid, Spain', 'country': {'id': 12, 'name': 'Spain', 'abbrev': 'ES'}, 'city': {'id': 31052, 'name': 'Madrid', 'keyword': 'madrid'}}, {'id': 16377, 'description': 'Barcelona, Spain', 'country': {'id': 12, 'name': 'Spain', 'abbrev': 'ES'}, 'city': {'id': 31170, 'name': 'Barcelona', 'keyword': 'barcelona'}}, {'id': 16709, 'description': 'Lisbon, Portugal', 'country': {'id': 28, 'name': 'Portugal', 'abbrev': 'PT'}, 'city': {'id': 31075, 'name': 'Lisbon', 'keyword': 'lisbon'}}, {'id': 17233, 'description': 'Online', 'state': {'id': 1, 'name': 'Online', 'abbrev': 'Online', 'keyword': 'online'}}]}, 'contentSecondsToLive': 0, 'wasCached': False, 'serverTime': 65.996934}
tripleten
{'mainTemplate': '<div class="bootcamp-description">[[description]]</div><css-template id="bootcamp-data-description" default="bootcamp-data/description"></css-template>', 'htmlTemplates': {}, 'cssTemplates': {'bootcamp-data/description': '.bootcamp-description{line-height:1.5}'}, 'templatesWereCached': False, 'content': {'name': 'TripleTen', 'keyword': 'tripleten', 'webaddr': 'tripleten.com/?utm_source=referral&utm_medium=switchup&utm_campaign=schoolpage&utm_content=header', 'description': '<span class="truncatable"><p>Tripleten changed their brand name from Practicum in June 2023. Read more <a href="https://practicum-blog.webflow.io/posts/101010-welcome-to-tripleten">here</a>.</p><p>TripleTen is a family of digital re-skilling products. We help people with versatile backgrounds learn a new profession online and kickstart a sustainable career in tech. TripleTen<span class="read-more-text">... <a class="read-more-button">Read More</a></span><span class="read-more" style="display:none;"> stands on the quality of our programs; if you don\'t secure a position within six months of graduating, we\'ll refund your money — guaranteed. We seek to level the playing field and empower anyone to enjoy the rewards of a position in the tech industry.</span></p><p>TripleTen offers Software Engineering, Quality Assurance, Business Intelligent Analytics, Data Analytics and Data Science programs. Program costs range between $4,900 and $9,700. Each bootcamp includes full access to an interactive online platform, real-life projects, tutor support from experienced developers, code reviews, online webinars, and live coding sessions. Whether you need help with a task or just a bit of encouragement, there\'ll always be someone ready to help you.</p><p>More than 5,000 students have already chosen TripleTen. Our students graduate with professional certificates and portfolios with 6 to 15 projects to show to potential employers. With an average employment rate of 87%, our Career Acceleration program provides graduates with the competitive edge they need to succeed. From resume-building to job offer negotiation, we’ll be with you every step of the way.</p><span class=\'read-less-text\' style=\'display:none;\'><a class=\'read-less-button\'>Read Less</a></span></span>', 'logoUrl': 'https://d92mrp7hetgfk.cloudfront.net/images/sites/misc/tripleten_logo/original.png?1686776542', 'meritBadges': [{'name': 'Available Online', 'keyword': 'available_online', 'description': '<p>School offers fully online courses</p>'}, {'name': 'Flexible Classes', 'keyword': 'flexible_classes', 'description': '<p>School offers part-time and evening classes</p>'}, {'name': 'Job Guarantee', 'keyword': 'job_guarantee', 'description': '<p>School guarantees job placement</p>'}], 'reviewMetric': {'overallRating': '4.88', 'reviewCount': 209}, 'activeRankingYears': [2021], 'showBootcampLeadForm': False, 'clSubmitted': False, 'courses': ['Business Intelligence Analytics', 'Data Analytics', 'Data Science', 'Quality Assurance Engineering', 'Software Engineering'], 'priceMin': 4900, 'priceMax': 9700, 'locations': [{'id': 17154, 'description': 'Online', 'state': {'id': 1, 'name': 'Online', 'abbrev': 'Online', 'keyword': 'online'}}]}, 'contentSecondsToLive': 0, 'wasCached': False, 'serverTime': 36.772701}
colaberry
{'mainTemplate': '<div class="bootcamp-description">[[description]]</div><css-template id="bootcamp-data-description" default="bootcamp-data/description"></css-template>', 'htmlTemplates': {}, 'cssTemplates': {'bootcamp-data/description': '.bootcamp-description{line-height:1.5}'}, 'templatesWereCached': False, 'content': {'name': 'Colaberry', 'keyword': 'colaberry', 'webaddr': 'www.colaberry.com/', 'description': '<span class="truncatable"><p>Colaberry offers instructor-led remote and self-paced training in data analytics, data science, machine learning, and Artificial Intelligence. Colaberry courses are designed from the ground up to focus on the latest tools and approaches to working with<span class="read-more-text">... <a class="read-more-button">Read More</a></span><span class="read-more" style="display:none;"> data, and on developing integral human skills, including communication, teamwork, time management, and critical thinking, to assure long-term professional success in the field. </span></p><p>Colaberry teaching methodology incorporates a learn-by-doing approach, hands-on workshops, and the award-winning technology platform Refactored for online synchronous and asynchronous learning. Colaberry students are supported by industry-seasoned mentors who provide interview practice sessions and personalized job coaching. Colaberry graduates also receive on-the-job support for one year after program completion.</p><p>Colaberry training programs are open to all applicants with a high school diploma or GED. Colaberry offers outcomes-based tuition payment through the Income Share Agreement, as well as tuition discounts and scholarships to US military and veterans.</p><span class=\'read-less-text\' style=\'display:none;\'><a class=\'read-less-button\'>Read Less</a></span></span>', 'logoUrl': 'https://d92mrp7hetgfk.cloudfront.net/images/sites/misc/ColaberryIcon/original.JPG?1634600254', 'meritBadges': [{'name': 'Available Online', 'keyword': 'available_online', 'description': '<p>School offers fully online courses</p>'}, {'name': 'Flexible Classes', 'keyword': 'flexible_classes', 'description': '<p>School offers part-time and evening classes</p>'}], 'reviewMetric': {'overallRating': '4.84', 'reviewCount': 58}, 'activeRankingYears': [], 'showBootcampLeadForm': False, 'clSubmitted': False, 'courses': ['Data Analytics', 'Data Science'], 'priceMin': 1500, 'priceMax': 4000, 'locations': [{'id': 18073, 'description': 'Online', 'state': {'id': 1, 'name': 'Online', 'abbrev': 'Online', 'keyword': 'online'}}]}, 'contentSecondsToLive': 0, 'wasCached': False, 'serverTime': 37.643889}
maven-analytics

In [26]:
locations_list

[      id description  state.id state.name state.abbrev state.keyword  \
 0  16013      Online         1     Online       Online        online

         school  school_id
 0  springboard      11035  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  16378      Online         1     Online       Online        online

       school  school_id
 0  dataquest      10683  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  18261      Online         1     Online       Online        online

                 school  school_id
 0  syntax-technologies      11797  ,
       id               description  country.id   country.name country.abbrev  \
 0  15901           Berlin, Germany        57.0        Germany             DE
 1  16022       Mexico City, Mexico        29.0         Mexico             MX
 2  16086    Amsterdam, Netherlands        59.0    Netherlands             NL
 3  16088         Sao Paulo, Brazil        42.0         Brazil             BR
 4  16109             Paris, France        38.0         France             FR
 5  16375  Miami, FL, United States         1.0  United States             US
 6  16376             Madrid, Spain        12.0          Spain             ES
 7  16377          Barcelona, Spain        12.0          Spain             ES
 8  16709          Lisbon, Portugal        28.0       Portugal             PT
 9  17233                    Online         NaN            NaN            NaN

    city.id    city.name city.keyword  state.id state.name state.abbrev  \
 0  31156.0       Berlin       berlin       NaN        NaN          NaN
 1  31175.0  Mexico City  mexico-city       NaN        NaN          NaN
 2  31168.0    Amsterdam    amsterdam       NaN        NaN          NaN
 3  31121.0    Sao Paulo    sao-paulo       NaN        NaN          NaN
 4  31136.0        Paris        paris       NaN        NaN          NaN
 5     31.0        Miami        miami      11.0    Florida           FL
 6  31052.0       Madrid       madrid       NaN        NaN          NaN
 7  31170.0    Barcelona    barcelona       NaN        NaN          NaN
 8  31075.0       Lisbon       lisbon       NaN        NaN          NaN
 9      NaN          NaN          NaN       1.0     Online       Online

   state.keyword    school  school_id
 0           NaN  ironhack      10828
 1           NaN  ironhack      10828
 2           NaN  ironhack      10828
 3           NaN  ironhack      10828
 4           NaN  ironhack      10828
 5       florida  ironhack      10828
 6           NaN  ironhack      10828
 7           NaN  ironhack      10828
 8           NaN  ironhack      10828
 9        online  ironhack      10828  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  17154      Online         1     Online       Online        online

       school  school_id
 0  tripleten      11225  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  18073      Online         1     Online       Online        online

       school  school_id
 0  colaberry      11718  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  18116      Online         1     Online       Online        online

             school  school_id
 0  maven-analytics      11740  ,
       id description  state.id state.name state.abbrev state.keyword   school  \
 0  15807      Online         1     Online       Online        online  udacity

    school_id
 0      11118  ,
       id        description  country.id    country.name country.abbrev  \
 0  15935  New York City, NY         1.0   United States             US
 1  15985    Toronto, Canada         2.0          Canada             CA
 2  16010  Vancouver, Canada         2.0          Canada             CA
 3  16909         Boston, MA         1.0   United States             US
 4  16910        Chicago, IL         1.0   United States             US
 5  16940             Online         NaN             NaN            NaN
 6  17706          Miami, FL         1.0   United States             US
 7  17731         London, UK        11.0  United Kingdom             GB

    state.id        state.name state.abbrev  state.keyword  city.id  city.name  \
 0      34.0          New York           NY       new-york   1507.0        NYC
 1      66.0           Ontario           ON                 31152.0    Toronto
 2      71.0  British Columbia           BC                 31138.0  Vancouver
 3      23.0     Massachusetts           MA  massachusetts     47.0     Boston
 4      15.0          Illinois           IL       illinois     39.0    Chicago
 5       1.0            Online       Online         online      NaN        NaN
 6      11.0           Florida           FL        florida     31.0      Miami
 7       NaN               NaN          NaN            NaN  31176.0     London

     city.keyword        school  school_id
 0  new-york-city  brainstation      10571
 1        toronto  brainstation      10571
 2      vancouver  brainstation      10571
 3         boston  brainstation      10571
 4        chicago  brainstation      10571
 5            NaN  brainstation      10571
 6          miami  brainstation      10571
 7         london  brainstation      10571  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  18109      Online         1     Online       Online        online

                  school  school_id
 0  ccs-learning-academy      11736  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  16383      Online         1     Online       Online        online

      school  school_id
 0  thinkful      11098  ,
       id        description  country.id    country.name country.abbrev  \
 0  16360  New York City, NY         1.0   United States             US
 1  16372             Online         NaN             NaN            NaN
 2  16961         London, UK        11.0  United Kingdom             GB
 3  17033    Toronto, Canada         2.0          Canada             CA

    state.id state.name state.abbrev state.keyword  city.id city.name  \
 0      34.0   New York           NY      new-york   1507.0       NYC
 1       1.0     Online       Online        online      NaN       NaN
 2       NaN        NaN          NaN           NaN  31176.0    London
 3      66.0    Ontario           ON                31152.0   Toronto

     city.keyword            school  school_id
 0  new-york-city  general-assembly      10761
 1            NaN  general-assembly      10761
 2         london  general-assembly      10761
 3        toronto  general-assembly      10761  ]

In [27]:
locations = pd.concat(locations_list)
locations.isna().sum()

id                 0
description        0
state.id          10
state.name        10
state.abbrev      10
state.keyword     10
school             0
school_id          0
country.id        12
country.name      12
country.abbrev    12
city.id           12
city.name         12
city.keyword      12
dtype: int64

In [28]:
# eliminate redundant data
locations.drop(columns={
    'state.abbrev', 
    'state.keyword', 
    'country.abbrev', 
    'city.keyword', 
    'state.id', 
    'city.id', 
    'country.id'
}, inplace=True)

In [29]:
locations['country.name'] = locations['country.name'].apply(lambda value: 'Online' if pd.isna(value) else value)

In [30]:
locations['city.name'] = locations['city.name'].apply(lambda value: 'Online' if pd.isna(value) else value)

In [31]:
locations['state.name'].fillna(locations['country.name'], inplace=True)

In [32]:
locations.isna().sum()

id              0
description     0
state.name      0
school          0
school_id       0
country.name    0
city.name       0
dtype: int64

In [33]:
courses = pd.concat(courses_list)

In [34]:
courses

                                        courses            school  school_id
0                   Cyber Security Career Track       springboard      11035
1                   Data Analytics Career Track       springboard      11035
2                     Data Science Career Track       springboard      11035
3                Data Science Career Track Prep       springboard      11035
4                     Front-End Web Development       springboard      11035
..                                          ...               ...        ...
9              React Development (Short Course)  general-assembly      10761
10    Software Engineering Bootcamp (Full-Time)  general-assembly      10761
11        User Experience Design (Short Course)  general-assembly      10761
12  User Experience Design Bootcamp (Full-Time)  general-assembly      10761
13                 Visual Design (Short Course)  general-assembly      10761

[114 rows x 3 columns]

In [35]:
badges = pd.concat(badges_list)
badges

,name,keyword,description,school,school_id
0,Available Online,available_online,<p>School offers fully online courses</p>,springboard,11035
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,springboard,11035
2,Job Guarantee,job_guarantee,<p>School guarantees job placement</p>,springboard,11035
0,Available Online,available_online,<p>School offers fully online courses</p>,dataquest,10683
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,dataquest,10683
0,Available Online,available_online,<p>School offers fully online courses</p>,syntax-technologies,11797
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,syntax-technologies,11797
0,Available Online,available_online,<p>School offers fully online courses</p>,ironhack,10828
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,ironhack,10828
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,ironhack,10828
0,Available Online,available_online,<p>School offers fully online courses</p>,tripleten,11225
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,tripleten,11225
2,Job Guarantee,job_guarantee,<p>School guarantees job placement</p>,tripleten,11225
0,Available Online,available_online,<p>School offers fully online courses</p>,colaberry,11718
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,colaberry,11718
0,Available Online,available_online,<p>School offers fully online courses</p>,maven-analytics,11740
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,maven-analytics,11740
0,Available Online,available_online,<p>School offers fully online courses</p>,udacity,11118
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,udacity,11118
0,Available Online,available_online,<p>School offers fully online courses</p>,brainstation,10571
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,brainstation,10571
2,Accepts GI Bill,accepts_gi_bill,<p>School accepts the GI Bill</p>,brainstation,10571
0,Available Online,available_online,<p>School offers fully online courses</p>,ccs-learning-academy,11736
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,ccs-learning-academy,11736
2,Job Guarantee,job_guarantee,<p>School guarantees job placement</p>,ccs-learning-academy,11736
0,Available Online,available_online,<p>School offers fully online courses</p>,thinkful,11098
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,thinkful,11098
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,thinkful,11098
3,Job Guarantee,job_guarantee,<p>School guarantees job placement</p>,thinkful,11098
0,Available Online,available_online,<p>School offers fully online courses</p>,general-assembly,10761
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,general-assembly,10761
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,general-assembly,10761
3,Accepts GI Bill,accepts_gi_bill,<p>School accepts the GI Bill</p>,general-assembly,10761

In [36]:
badges.drop(columns={'keyword'}, inplace=True)

In [37]:
text = '<p>School offers fully online courses</p>'
text.split('>')[1].split('<')[0]

'School offers fully online courses'

In [38]:
badges['description'] = badges['description'].apply(lambda text: text.split('>')[1].split('<')[0])

In [39]:
badges

,name,description,school,school_id
0,Available Online,School offers fully online courses,springboard,11035
1,Flexible Classes,School offers part-time and evening classes,springboard,11035
2,Job Guarantee,School guarantees job placement,springboard,11035
0,Available Online,School offers fully online courses,dataquest,10683
1,Flexible Classes,School offers part-time and evening classes,dataquest,10683
0,Available Online,School offers fully online courses,syntax-technologies,11797
1,Flexible Classes,School offers part-time and evening classes,syntax-technologies,11797
0,Available Online,School offers fully online courses,ironhack,10828
1,Verified Outcomes,School publishes a third-party verified outcom...,ironhack,10828
2,Flexible Classes,School offers part-time and evening classes,ironhack,10828
0,Available Online,School offers fully online courses,tripleten,11225
1,Flexible Classes,School offers part-time and evening classes,tripleten,11225
2,Job Guarantee,School guarantees job placement,tripleten,11225
0,Available Online,School offers fully online courses,colaberry,11718
1,Flexible Classes,School offers part-time and evening classes,colaberry,11718
0,Available Online,School offers fully online courses,maven-analytics,11740
1,Flexible Classes,School offers part-time and evening classes,maven-analytics,11740
0,Available Online,School offers fully online courses,udacity,11118
1,Flexible Classes,School offers part-time and evening classes,udacity,11118
0,Available Online,School offers fully online courses,brainstation,10571
1,Flexible Classes,School offers part-time and evening classes,brainstation,10571
2,Accepts GI Bill,School accepts the GI Bill,brainstation,10571
0,Available Online,School offers fully online courses,ccs-learning-academy,11736
1,Flexible Classes,School offers part-time and evening classes,ccs-learning-academy,11736
2,Job Guarantee,School guarantees job placement,ccs-learning-academy,11736
0,Available Online,School offers fully online courses,thinkful,11098
1,Verified Outcomes,School publishes a third-party verified outcom...,thinkful,11098
2,Flexible Classes,School offers part-time and evening classes,thinkful,11098
3,Job Guarantee,School guarantees job placement,thinkful,11098
0,Available Online,School offers fully online courses,general-assembly,10761
1,Verified Outcomes,School publishes a third-party verified outcom...,general-assembly,10761
2,Flexible Classes,School offers part-time and evening classes,general-assembly,10761
3,Accepts GI Bill,School accepts the GI Bill,general-assembly,10761

In [40]:
# any data cleaning still missing here? take a look at the description
schools = pd.concat(schools_list)
schools

,website,description,LogoUrl,school,school_id
0,www.springboard.com/?utm_source=switchup&utm_m...,"<span class=""truncatable""><p>Springboard is an...",https://d92mrp7hetgfk.cloudfront.net/images/si...,springboard,11035
0,www.dataquest.io,"<span class=""truncatable""><p>Master data skill...",https://d92mrp7hetgfk.cloudfront.net/images/si...,dataquest,10683
0,www.syntaxtechs.com/,"<span class=""truncatable""><p>Syntax Technologi...",https://d92mrp7hetgfk.cloudfront.net/images/si...,syntax-technologies,11797
0,www.ironhack.com/en,"<span class=""truncatable""><p>Ironhack is a glo...",https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828
0,tripleten.com/?utm_source=referral&utm_medium=...,"<span class=""truncatable""><p>Tripleten changed...",https://d92mrp7hetgfk.cloudfront.net/images/si...,tripleten,11225
0,www.colaberry.com/,"<span class=""truncatable""><p>Colaberry offers ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,colaberry,11718
0,www.mavenanalytics.io/,"<span class=""truncatable""><p>Maven Analytics i...",https://d92mrp7hetgfk.cloudfront.net/images/si...,maven-analytics,11740
0,www.udacity.com/?utm_source=switchup&utm_mediu...,"<span class=""truncatable""><p>Udacity is the tr...",https://d92mrp7hetgfk.cloudfront.net/images/si...,udacity,11118
0,brainstation.io,"<span class=""truncatable""><p>BrainStation is t...",https://d92mrp7hetgfk.cloudfront.net/images/si...,brainstation,10571
0,ccslearningacademy.com/,"<span class=""truncatable""><p>TECH TRAINING BY ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,ccs-learning-academy,11736
0,thinkful.com/,"<span class=""truncatable""><p>Thinkful teaches ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,thinkful,11098
0,generalassemb.ly?utm_source=switchup&utm_mediu...,"<span class=""truncatable""><p>General Assembly ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,general-assembly,10761

In [41]:
TAG_RE = re.compile(r'<[^>]+>')
def remove_tags(x):
  return TAG_RE.sub('',x)

In [42]:
schools['description'] = schools['description'].apply(remove_tags)
schools

,website,description,LogoUrl,school,school_id
0,www.springboard.com/?utm_source=switchup&utm_m...,Springboard is an online learning platform tha...,https://d92mrp7hetgfk.cloudfront.net/images/si...,springboard,11035
0,www.dataquest.io,Master data skills. Build your career.Dataques...,https://d92mrp7hetgfk.cloudfront.net/images/si...,dataquest,10683
0,www.syntaxtechs.com/,Syntax Technologies is the world’s leading onl...,https://d92mrp7hetgfk.cloudfront.net/images/si...,syntax-technologies,11797
0,www.ironhack.com/en,Ironhack is a global tech school with 9 campus...,https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828
0,tripleten.com/?utm_source=referral&utm_medium=...,Tripleten changed their brand name from Practi...,https://d92mrp7hetgfk.cloudfront.net/images/si...,tripleten,11225
0,www.colaberry.com/,Colaberry offers instructor-led remote and sel...,https://d92mrp7hetgfk.cloudfront.net/images/si...,colaberry,11718
0,www.mavenanalytics.io/,"Maven Analytics is an online, guided learning ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,maven-analytics,11740
0,www.udacity.com/?utm_source=switchup&utm_mediu...,Udacity is the trusted market leader in talent...,https://d92mrp7hetgfk.cloudfront.net/images/si...,udacity,11118
0,brainstation.io,BrainStation is the global leader in digital s...,https://d92mrp7hetgfk.cloudfront.net/images/si...,brainstation,10571
0,ccslearningacademy.com/,TECH TRAINING BY TECH PROFESSIONALSCCS Learnin...,https://d92mrp7hetgfk.cloudfront.net/images/si...,ccs-learning-academy,11736
0,thinkful.com/,Thinkful teaches students how to become equipp...,https://d92mrp7hetgfk.cloudfront.net/images/si...,thinkful,11098
0,generalassemb.ly?utm_source=switchup&utm_mediu...,General Assembly is a global community of almo...,https://d92mrp7hetgfk.cloudfront.net/images/si...,general-assembly,10761

In [44]:
# Create an empty list to store the data
course_prices_list = []

for school_name in school_list:
    url = f"https://www.switchup.org/bootcamps/{school_name.lower().replace(' ', '-')}"
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36'}

    try:
        response = requests.get(url, headers=headers)

        if response.status_code == 200:
            soup = BeautifulSoup(response.text, 'html.parser')
            
            # Find all course__inner elements
            course_inners = soup.find_all('div', class_='course__inner')

            if course_inners:
                # Iterate over each course__inner element
                for course_inner in course_inners:

                    # Extract school name
                    school_name = school_name

                    # Extract course name
                    course_name = course_inner.find('h4').text.strip()
                                           
                    # Extract cost information
                    cost_div = course_inner.find('div', class_='cost')
                    if cost_div:
                        cost = cost_div.find('span').text.strip()
                    else:
                        cost = "Not found"
                    
                    # Append data to the list
                    course_prices_list.append({
                        'school': school_name,
                        'course': course_name,
                        'price': cost})
                    
            else:
                print(f"{school_name}: Not found")

    except requests.RequestException as e:
        print(f"Error for {school_name}: {e}")

    except Exception as e:
        print(f"An unexpected error occurred: {e}")

# Create a DataFrame from the list of dictionaries
course_prices = pd.DataFrame(course_prices_list)

In [45]:
course_prices.dtypes

school    object
course    object
price     object
dtype: object

In [46]:
course_prices.price.value_counts()

$4,500               5
$3,250               5
Not found            4
$3,950               4
$9,900               4
$1,077               4
$9,500               3
$16,450              3
$1,436               3
€7,500               3
$16,500              2
$2,154               2
$4,900               2
$9,700               2
$13,000              2
$12,000              2
$29                  2
$349                 2
$7,995               1
$16,000              1
$12,250              1
$8,000               1
$8,995               1
$6,500               1
$12,150              1
$11,995              1
$718                 1
$12,995              1
$7,499               1
$1,500   - $4,000    1
$1,999               1
$6,900               1
$7,900               1
€8,000               1
$5,900               1
$490                 1
$8,500               1
$3,500               1
Name: price, dtype: int64

In [47]:
# formatting the prices to make it easier to transform them in numbers
course_prices['price'] = course_prices['price'].replace('[\$,]', '', regex=True)

In [48]:
course_prices.price

0     Not found
1          9900
2          8500
3          9900
4           490
        ...
69         4500
70         4500
71         4500
72         3500
73        16450
Name: price, Length: 74, dtype: object

In [49]:
comments.to_csv('comments', index=False)
schools.to_csv('schools', index=False)
badges.to_csv('badges', index=False)
locations.to_csv('locations', index=False)
courses.to_csv('courses', index=False)
course_prices.to_csv('course_prices', index=False)